@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply min-h-screen w-full font-body text-text overflow-hidden text-base max-sm:text-sm bg-background_primary;
}

h1, h2, h3, h4, h5, h6{
  @apply font-heading;
}
.skill{
  @apply flex flex-col justify-center gap-10 px-4 py-4 
  relative border-dashed border-opacity-50   border-x-2 border-x-text;
}
.headers{
  @apply hover:text-primary;
  color: #ededed99
}
.button-one{
  @apply bg-primary;
  background-color: #1b1b1b;
}
.noscrollbar{
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}
.noscrollbar::-webkit-scrollbar{
  display: none;

}
.glitch::before, .glitch::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  mix-blend-mode: screen;
  opacity: 0;
}
.glitch:hover::before {
  transform: translateX(-3px);
  opacity: 0.8;
  animation: glitch 0.2s 3 alternate;
}
.glitch:hover::after{
  transform: translateX(3px);
  opacity: 0.8;
  animation: glitch 0.2s 3 alternate-reverse;
}
@keyframes glitch {
  0%{transform: translateX(-3px);}
  100%{transform: translateX(3px);}
}
