@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply font-body text-text bg-background overflow-x-hidden text-sm;
}
h1, h2, h3, h4, h5, h6{
  @apply font-heading;
}
.skill{
  @apply flex flex-col justify-center gap-10 px-4 py-4 
  relative border-dashed border-opacity-50   border-x-2 border-x-text;
}
.headers{
  @apply hover:text-primary;
}
.button-one{
  @apply bg-primary;
  background-color: #1b1b1b;
}
.noscrollbar{
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}
.noscrollbar::-webkit-scrollbar{
  display: none;

}
@layer utilities {
  .orbit-nav {
    /*transform-origin: 50% calc(100% + var(--origin-distance, 50%))
    transform: rotate(var(--orbit-angle, 0deg)) translate(var(--orbit-distance, 100px)) rotate(calc(-1 * var(--orbit-angle, 0deg)));*/
    @apply absolute text-xs m-0 p-0 transition-all border;
  }
  .orbit-dot {
    @apply absolute;
    transition: transform 0.3s ease-in-out;
    transform-origin: 50% calc(100% + var(--orbit-distance, 50%));
  }
}
