.menucont{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
}
.menucont .menuBar{
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vh 0;
  display: grid;
  grid-template-columns: 30% 65%;
  column-gap: 5%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin: 0;
  background-color: rgb(48, 48, 62, 0.5);
  background-color: rgba(10, 11, 13, 0.702);
}
.menuBar .appname{
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  justify-self: end;
  font-family: 'orbit','raj', sans-serif;
}
.appname #appname{
  color: inherit;
  text-decoration: none;
  font-style: italic;
}

.menuBar .menubarLinks{
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  margin: 0;
  padding: 0;
  /*border-bottom: #3ed88b 1px dotted;*/
}
.menubarLinks #link{
   font-size: 0.47em;
   margin: 0;
   padding: 0;
   text-decoration: none;
  /* color: #1d3124;*/
  color: inherit;
}
.menubarLinks  #link.active{
  color: #9095a1;
}
.menubarLinks #link:hover{
  font-size: 0.5em;
}
.menubarLinks button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  font-weight: lighter;
  font-family: inherit;
}
.menubarLinks button img{
  width: 30px;
}

.menuBar #menubut {
  justify-self: end;
  cursor: pointer;
  background-color: transparent;
  z-index: 3;
  border: none;
  margin: 0;
  padding: 0;

}

#menubut img{
  width: 30px;
}
.menuBar #themebut{
  font-size: 0.45em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  color: inherit;
  background-color: transparent;
  border: none;
}
#themebut img{
  width: 15px;
}
.menucont .dropdown{
  z-index: 5;
  position: fixed;
  width: 99.8vw;
  height: auto;
  left: 0;
  top: 0;
  margin: 0;
  padding: 5vh 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0b0d;
}

.dropdown #closeMenu:hover{
  border: #4b4b4b 1px dotted;
}
.dropdown  .dropdown-menu{
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2vh;
}

.dropdown-menu  #link.active{
  color: #9095a1;
}
.dropdown-menu #link{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-size:0.7em;
  font-family: 'orbit','raj', sans-serif;
}

.dropdown-menu button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  font-weight: lighter;
}
.dropdown-menu button img{
  width: 20px;
}


/*Footer cont */
.Footer{
  position: relative;
  bottom: 0;
  /*border-top: #282f32 2px solid;*/
  /*box-shadow: 0 -5px 10px #0026ff;*/
  padding: 0 10vw;
  margin: 0 5vw;
  margin-top: 10vh;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  color: #f3f3f3;
  background-position: center;
  background-size: contain;
}
.Footer *{
  z-index: 2;
}

.Footer .footerbackground{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 0;
}

.Footer h3{
  font-size: 0.7em;
  font-family: 'orbit','raj', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
.footercontact{
  font-size: 0.7em;
  text-decoration: none;
  padding: 1vh 3vw;
  border: #0026ff 1px solid;
  animation: changetext 1s ease-in-out infinite;
}

@keyframes changetext {
   from{
     color: #f3f3f3;
   }to{color: #9095a1;}
}


.sociallinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  font-size: 0.4em;
}
.sociallinks a{
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7vh;
}
.sociallinks img{
  width: 35px;
}
.Footer .copywrite{
  font-size: 0.43em;
  margin: 0;
  padding: 1vh 0;
  align-self: flex-start;
}
.copywrite img{
  width: 35px;
  padding: 3px 5px 0 5px;
  border: #0026ff 1px solid;
  cursor: pointer;
}


.themeChange{
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1vh 2vw;
  padding-bottom: 5vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3vh;
  font-size: 0.5em;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.themeChange img{
  align-self: flex-end;
  width: 35px;
  cursor: pointer;
}
.themeChange p{
  margin: 0 5vw;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.themeChange p img{
  width: 30px;
  cursor: unset;
}



@media screen and (min-width: 200px) and (max-width: 800px) {
  .menucont .menuBar{
    grid-template-columns: auto auto;
    backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  }
  .menuBar .appname{
    justify-self: start;
    margin-left: 3vw;
  }
  .menuBar #menubut{
    margin-right: 3vw;
  }
  .dropdown #closeMenu{
    top: 2vh;
    width: 35px;
  }
  .dropdown-menu #link{
    font-size: 1em;
    padding: 1vh 0;
    font-weight: lighter;
  }
  .dropdown .menuContact{
    display: flex;
  }
  .menuContact li{
    margin: 0 3vw;
  }
  .menuContact img{
    width: 30px;
  }
  
  .Footer{
    margin: 0 3vw;
    margin-top: 10vh;
  }

  .sociallinks img{
    width: 25px;
  }
  .copywrite img{
    width: 25px;
  }

  .themeChange{
    padding: 1vh 3vw;
    padding-bottom: 7vh;
    border-radius: 15px;
  }
  .themeChange img{
    width: 25px;
  }
  .themeChange p{
    margin: 0 15vw;
    gap: 2vw;
    text-wrap: nowrap;
  }
  .themeChange p img{
    width: 13px;
  }
}